/* You can add global styles to this file, and also import other style files */
/* @font-face {
    font-family: GrenzeRegular;
    src: url("./assets/fonts/Grenze/Grenze-Regular.ttf") format("tff");
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}