<footer>
    <div class="nav">
        <ul>
            <li>a.</li>
            <span>
                <li>
                    <img src="../../../assets/icons/footer_linkedin-line.svg" alt="">
                </li>
                <li>
                    <img src="../../../assets/icons/footer_mail-line.svg" alt="">                  
                </li>
            </span> 
        </ul>
    </div>
    <div class="copyright">
        <img src="../../../assets/icons/copyright.svg" alt="">
        <span>2023 Ademola Enoch. All rights reserved.</span>
    </div>
</footer>